<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to take photo for profile image</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need access to your location to locate our store</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need access to your location to locate our store</string>
	<key>UIAppFonts</key>
	<array>
		<string>Gotham-Bold.otf</string>
		<string>Gotham-Medium.otf</string>
		<string>Gotham-Book.otf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
